@font-face {
  font-family: 'Roboto Regular';
  src: url(fonts/Roboto-Regular.woff) format('woff');
  font-weight: normal;
  font-style: normal;
  }

@font-face {
    font-family: 'Roboto Medium';
    src: url(fonts/Roboto-Medium.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
font-family: 'Roboto Bold';
src: url(fonts/Roboto-Bold.woff) format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
  font-family: 'Roboto Black';
  src: url(fonts/Roboto-Black.woff) format('woff');
  font-weight: normal;
  font-style: normal;
  }

html, body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: 'Roboto Regular';
  box-sizing: border-box;
}

* {
  outline: none;
}

.fixed-container {
  max-width: 1176px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

#nav-bar {
  padding: 20px 0;
}

.mobile-menu {
  display: none;
  outline: none;
  border: 0;
  background-color: #fbfbfb;
  font-size: 45px;
  margin-left: 20px;
  width: 40px;
}

.header {
background-color: #fbfbfb;
}

.slider-nav {
  outline: none;
  border: 0;
  background-color: #fbfbfb;
}

.header-nav {
  list-style: none;
  display: inline-block;
}

.header ul {
  padding-inline-start: 0;
}

.header-nav li {
  display: inline-block;
  padding-right: 25px;
}

.phone-box {
  display: flex;
  align-items: center;
  font-style: normal;
}


.header-nav a {
  text-decoration: none;
  font-size: 17px;
  line-height: 1.9;
  color: black;
  transition: color 0.15s;
  transition: text-decoration 0.15s;
}

.header-nav a:hover {
  transition: color 0.15s;
  transition: text-decoration 0.15s;
  color: #fc557c;
  text-decoration-line: underline;
}



.phone-num {
  display: block;
  text-decoration: none;
  letter-spacing: 1px;
  margin-right: 35px;
  font-size: 25px;
  font-weight: 700;
  color: black;
  transition: color 0.15s;
}

.phone-num:hover {
  color: #ff2f96;
  transition: color 0.15s;
}

.phone-button {
  width: 205px;
  font-size: 16px;
  line-height: 2.6;
  color: #ff2f96;
  display: inline-block;
  background-color: #fbfbfb;
  outline: none;
  border: 0;
  border: 1px solid #ff2f96;
  cursor: pointer;
  transition: color 0.15s;
  transition: background-color 0.15s;
}



.phone-box .fa-phone-alt {
  font-size: 0;
}

.phone-button:hover {  
  background-color: #ff2f96;
  color: #fff;
  transition: color 0.15s;
  transition: background-color 0.15s;
}

.third-page {
  width: 100%;
  background: linear-gradient(45deg, #ff8f5a, #ff2f96);
  padding: 77px 0;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #fbfbfb;
}

footer a {
text-decoration: none;
font-size: 18px;
line-height: 20px;
color: #8993ad;
}

.footer-nav ul {
  list-style: none;
  line-height: 2;
}

.footer ul {
  padding: 0;
}

.footer-nav a:hover {
  transition: color 0.15s;
  color: #fc557c;
  text-decoration-line: underline;
}

.footer__wrapper {
  justify-content: space-between;
  width: 100%;
}

.contacts {
display: flex;
flex-direction: column;
padding: 20px;
font-style: normal;
}

.icon {
  display: inline-block;
  height: 35px;
  width: 36px;
  background: url('img/sprite.png') no-repeat; 
  transition: background-position 0.15s;  
}

.icon:hover {
  background: url('img/sprite_2.png') no-repeat; 
  transition: background-position 0.15s; 
}

.icon_tw {
  background-position: 70% 0;
  transition: background-position 0.15s; 
  
}

.icon_tw:hover {
  background: url('img/sprite_2.png') no-repeat; 
  background-position: 70% 0;
  transition: background-position 0.15s; 
}

.icon_fb {
  background-position: 35% 0;
  transition: background-position 0.15s; 
}

.icon_fb:hover {
  background: url('img/sprite_2.png') no-repeat; 
  background-position: 35% 0;
  transition: background-position 0.15s; 
}

.icon_inst {
  background-position: 100% 0;
  transition: background-position 0.15s; 
}

.icon_inst:hover {
  background: url('img/sprite_2.png') no-repeat; 
  background-position: 100% 0;
  transition: background-position 0.15s; 
}

.socials {
  list-style: none;
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;

}

.fas {
  background: linear-gradient(45deg, #ff8f5a, #ff2f96); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fst-page__flying-element {
  animation-direction: normal;
  background: linear-gradient(45deg, #ff8f5a, #ff2f96); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 45px;
  font-weight: 900;
  position: absolute;
}


.flying-element__first {
  animation: move 2s 1; 
  transform: translate(-164px, 28px) rotate(30deg);
  font-size: 50px;
}

@keyframes move {
  from {transform: translate(180px, 30px) rotate(30deg)}
  to {transform: translate(-164px, 28px) rotate(30deg)}
 }

 .flying-element__second {
  animation: move_sec 3s 1; 
  transform: translate(80px, 566px) rotate(-20deg);
  font-size: 34px;
}

@keyframes move_sec {
  from {transform: translate(-190px, 100px) rotate(30deg)}
  to {transform: translate(80px, 566px) rotate(-20deg);}
}

.flying-element__third {
  animation: move_third 2s 1;
  transform: translate(-49px, 259px) rotate(20deg);
  font-size: 56px;
}

@keyframes move_third {
  from {transform: translate(-160px, 400px) rotate(30deg)}
  to {transform: translate(-49px, 259px) rotate(20deg);}
}


.flying-element__fourth {
  animation: move_fourth 3s 1; 
  transform: translate(491px, 61px) rotate(-14deg);
  font-size: 28px;
}

@keyframes move_fourth {
  from {transform: translate(260px, 100px) rotate(30deg)}
  to {transform: translate(491px, 61px) rotate(-14deg);}
}

.flying-element__fifth {
  animation: move_fifth 2.5s 1; 
  transform: translate(645px, 434px) rotate(20deg);
  font-size: 38px;
}

@keyframes move_fifth {
  from {transform: translate(-100px, 700px) rotate(20deg);}
  to {transform: translate(645px, 434px) rotate(20deg);}
}

.trd-page__fly_elem {
  animation-direction: normal;
  color: #fff;
  font-size: 45px;
  font-weight: 900;
  position: absolute;
}

.fly_elem__first {
  animation: fl_el_fst 3s 1; 
  transform: translate(-242px, -20px) rotate(30deg);
  font-size: 50px;
}

.fly_elem__sec {
  animation: fl_el_sec 3s 1; 
  transform:  translate(1052px, 224px)rotate(20deg);
  font-size: 40px;
}


.fly_elem__third {
  animation: fl_el_third 4s 1; 
  transform: translate(-126px, -40px) rotate(15deg);
  font-size: 50px;
}

.fly_elem__four {
  animation: fl_el_four 2.5s 1; 
  transform: translate(1282px, -209px) rotate(-25deg);
  font-size: 32px;
}


.fly_elem__fifth {
  animation: fl_el_fifth 2s 1; 
  transform: translate(1394px, -31px) rotate(-20deg);
  font-size: 50px;
}

.footer-phone {
  margin-bottom: 40px;
  font-size: 25px;
  color: black;
  transition: color 0.15s;
}

.footer .phone-button{
  width: 274px;
}

.footer-phone:hover {
  color: #ff2f96;
  transition: color 0.15s;
}

.mail {
  font-size: 25px;
  color: black;
  transition: color 0.15s;
}

.mail:hover {
  color: #ff2f96;
  transition: color 0.15s;
}

.contact-items {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.copyright {
  background-color:#31293c;
  justify-content: space-around;
  padding: 20px;
  color: white;
}


.first-page {
  background-image: url(img/stain2.svg);
  background-repeat: no-repeat;
  background-position: 111% 35px;
  /* margin: 0 auto; */
  background-color: #fbfbfb;
  overflow: hidden;
  /* padding-top: 53px;  */
}

.photo-author {
  margin-top: 32px;
}


.first-page__centr-cont {
 display: flex;
 justify-content: space-between;
 flex-basis: 1330px;
 margin: 0 auto;
}



.box {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.mobile-box {
  display: none;
  padding: 20px 0;
}

.desktop-box {
  padding-left: 83px;
}

.name-title {
  font-size: 80px;
  font-family: 'Roboto Black';
  margin: 0;
  margin-top: -55px;
  margin-bottom: 15px;
  
}

.headline {
  font-family: 'Roboto Black';
  font-size: 54px;
  margin: 0 auto;
  padding-top: 50px;
}

.standart-button {
  background-color: rgb(255,78,46);
  border: 0;
  outline: none;
  width: 270px;
  height: 60px;
  font-family: 'Roboto Regular';
  font-size: 18px;
  color: #fff;
  margin-top: 41px;
  cursor: pointer;
  transition: color 0.15s;
  transition: background-color 0.15s;
}

.standart-button:hover {
  color: #ff6375;
  background-color: white;
  border: 1px solid #ff5e79;
  transition: color 0.15s;
  transition: background-color 0.15s;
}

p {
  color: #8993ad;
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 0.1px;
}

.second-page {
  flex-direction: column;
  padding-bottom: 50px;
  padding-top: 35px;
}

.second-page .flex-container{
  flex-direction: column;
}

.second-page__container {
 max-width: 1245px;
 margin: 0 auto;
}

.second-page button {
  margin-top: 77px;
  align-self: center;
}

.second-page ul {
  padding-left: 0;
}
  
.second-page__elements{
  display: flex;
  padding-top: 70px;
  list-style: none;
}

.second-page__element {
  color: #8993ad;
  font-size: 20px;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.second-page__element img {
  max-width: 80px;
  height: auto;
  margin: 0 auto;
}


.element-title {
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
}

#slider {
padding-bottom: 100px;
background-color: #fbfbfb;
}

#slider .flex-container {
  flex-direction: column;
  padding: 0 30px;
  padding-top: 95px;
}

.slider-elements {
  display: flex;
  padding-top: 95px;
  position: relative;
}

.slider__element {
  text-decoration: none;
  width: 100%;
}


#slider .standart-button {
  margin: 0 auto;
  margin-top: 100px;
}

.left-control {
  position: absolute;
  bottom: 170px;
  left: -30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  border-radius: 200px;
  z-index: 10;
  outline: none;
}

.arrow:hover {
  box-shadow: 5px 5px 50px 1px #202022;
  transition: 0.15s;
}

.right-control {
  position: absolute;
  border: 0;
  bottom: 170px;
  right: -30px;
  cursor: pointer;
  transform: rotateY(180deg);
  background: transparent;
  z-index: 10;
  outline: none;
}

.arrow {
  box-shadow: 5px 5px 50px 1px #8993ad;
  border-radius: 200px;
  transition: 0.15s;
}

.trd-page__wrapper {
max-width: 955px;
margin: 0 auto;
}

.price-text {
  font-size: 45px;
  font-weight: 700;
  color: #fff;
  line-height: 1.25;
  margin: 0 10px;
}

.feature {
  font-size: 18px;
  color: #fff;
  line-height: 30px;
  margin: 40px 10px 0;
}

#popup-container__callback {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 10;
	background-image: url(/img/fon.png);
}


#popup-container__getinfo {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 10;
	background-image: url(/img/fon.png);
}


.popup {
	height: 250px;
	width: 300px;
	background-color:  #ff8f5a;
	border: 0;
	padding: 20px;
	margin: 70px auto;
	display: block;
  text-align: center;
  border: 1px solid #ff8f5a;
  border-radius: 20px 50px 70px 10px;
}

#popup-container__getinfo .popup {
  height: 320px;
}

.popup-form__phone {
	display: block;
	width: 250px;
	height: 40px;
	padding-left: 20px;
  outline: none;
  border-radius: 20px 50px 70px 10px;
}

.popup label {
	display: block;
	font-size: 14px;
  line-height: 1.5;
  color: #080808;
}

.popup input {
	display: block;
	margin-bottom: 20px;
	border: 0;
	margin: 25px auto;
  border: 1px solid #ff5e79;
  
}

.popup-submit {
	background-color: #fff;
  outline: none;
  padding: 15px 55px;
  font-size: 14px;
  font-weight: 700;
  color: #080808;
  border: 0;
  border: 1px solid #ff5e79;
  cursor: pointer;
  border-radius: 5px 20px 12px 50px;
}

.popup-form__name {
  display: block;
	width: 250px;
	height: 40px;
	padding-left: 20px;
  outline: none;
  border-radius: 50px 29px 12px 10px;
}

.error {
	background-color: red !important;;
}


.btn_top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  outline: 0;
  background-color: transparent;
  border: 0;
  transform: rotate(90deg);
  border-radius: 190px;
  cursor: pointer;
}
